$bg-color: cyan;

.user-container {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $bg-color;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    .username {
        text-align: center;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}